 #weather-link{
        font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        font-size:large;
        background-color: #436c98;
        
        padding:10px;
         width: calc(20% - 10px);

        border: 1px solid #f0f0f0;
        padding: 10px;
        text-align: center;
        margin-right: 10px; 
        margin-bottom: 10px;
         border-radius: 8px; 
         color:white;
        opacity:0.8;

    }
.cities {
        margin-top: 10%;
        margin-bottom: 10%;
        display: flex;
        flex-wrap: wrap; /* Ako je potrebno, divovi će se prelomiti u novi red na manjim ekranima */
        justify-content: space-between; 
        color:white;
    }


#weather-link:hover {
    transform: translateY(-5px); /* Pomeri div za 5px na hover */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Dodaj senku na hover */
}

h2{
    font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}